.title {
    border-bottom:1px solid #ebebeb;
    font-size:18px;
    padding:10px;
    width:100%;
    text-align:left;
    clear:both;
}
#pagination-box {
    width:100%;
    text-align:center;
    margin:10px auto;
}
.pagination-a {
    margin:0 5px;
    display:inline-block;
}
.pagination {
    display:inline-block;
    padding:10px 15px;
    border:1px solid #ebebeb;
}
.article {
    border:1px solid #ebebeb;
    border-top:0;
    padding:10px;
    clear:both;
    text-align:left;
}
.article:hover {
    background:#efefef;
}
.article-title {
    padding:0;
    font-weight:normal;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
}
.created-at,
.nick-name,
.tags {
    font-size:12px;
}
.nick-name {
    margin-top:10px;
}
.edit,
.remove {
    display:inline-block;
    font-size:12px;
    color:#787878;
    margin-right:10px;
    margin-bottom:10px;
    cursor:pointer;
}
.count-comments,
.count-view {
    float:right;
    font-size:12px;
    color:#787878;
    margin-left:10px;
}
.write {
    float:right;
    text-decoration:underline;
}
.btn-wrapper {
    width:100%;
    margin:10px 0 5px 0;
    text-align:center;
}
#btn-remove,
.btn-cancel {
    display:inline-block;
    margin:10px 10px 0 10px;
    width:auto;
    padding:8px 15px;
    font-size:12px;
    line-height:1.3em;
    background:#58bcea;
    border-color:#58bcea;
    border:0;
    color:#ffffff;
    -webkit-appearance:none;
    cursor:pointer;
}
#btn-remove:hover,
.btn-cancel:hover{
    background: #4eb2e0;
    color:#ffffff;
}